.material-icons{
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    top: 10%;
    cursor: pointer;
}
.password-validator{
    color: red;
    font-size: 12px;
    text-align: left;
    white-space: pre-line;
}