.themeContainer {
  position: absolute;
  z-index: 1;
  right: 0;
  .themeButton {
    margin: 2vh;
    .switch-checkbox {
      border: none;
      background-color: transparent;
      .switch-label {
        cursor: pointer;
      }
    }
  }
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
